.header-ctas {  position: absolute; top: 48px; left: 52%; margin-left: 250px; display: flex;	 
	-webkit-transition: all .2s ease;
			transition: all .2s ease;
}

.header-ctas a + a { margin-left: -15px; }

.header-ctas a svg  { 	-webkit-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease; }


.header-ctas a:hover svg  { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

@media ( max-width: 1280px ) {
	.header-ctas {  position: absolute; top: 48px; left: 52%; margin-left: 220px; }
	.header-ctas a svg  { 	-webkit-transform: scale(0.95); 	-ms-transform: scale(0.95); 	transform: scale(0.95); }
	.header-ctas a + a { margin-left: -20px; }
	.header-ctas a:hover svg  { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
	
}


.is-stuck .header-ctas {  -webkit-box-orient: vertical;  -webkit-box-direction: normal;  -ms-flex-direction: column;  flex-direction: column; top: 80px; left: 92%; margin-left: auto; margin-right: -25px; }
.is-stuck .header-ctas a + a { margin-left: 0; margin-top: -20px; }

@media ( max-width: 1400px ) {
.is-stuck .header-ctas {  -webkit-box-orient: vertical;  -webkit-box-direction: normal;  -ms-flex-direction: column;  flex-direction: column; top: 80px; left: 91%; margin-left: auto; margin-right: -20px; }
.is-stuck .header-ctas a + a { margin-left: 0; margin-top: -40px; }
	
}
